.intro-section {
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;

  .span-container {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .span-1 {
    background-image: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));

    &::before {
      animation: animate-text-1 8s infinite;

      @keyframes animate-text-1 {

        0%,
        16.667%,
        100% {
          opacity: 0
        }

        33.333%,
        83.333% {
          opacity: 1
        }
      }
    }
  }

  .span-2 {
    background-image: linear-gradient(90deg, var(--gradient-color-2), var(--gradient-color-3));

    &::before {

      animation: animate-text-2 8s infinite;
      @keyframes animate-text-2 {

        0%,
        16.667%,
        66.667%,
        100% {
          opacity: 1
        }

        33.333%,
        50% {
          opacity: 0
        }

      }
    }
  }

  .span-3 {
    background-image: linear-gradient(90deg, var(--gradient-color-3), var(--gradient-color-1));

    &::before {

      animation: animate-text-3 8s infinite;
      @keyframes animate-text-3 {

        0%,
        50%,
        100% {
          opacity: 1;
        }

        66.667%,
        83.333% {
          opacity: 0;
        }
      }
    }
  }
}